version: '3.9'

services:

  postgres:
    image: postgres:15
    container_name: flight_postgres
    environment:
      POSTGRES_USER: flightadmin
      POSTGRES_PASSWORD: flightpass
      POSTGRES_DB: flights
    ports:
      - "5432:5432"
    volumes:
      - ./database/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: always

  zookeeper:
    image: confluentinc/cp-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"

  flight-backend-java:
    build: backend-java
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - kafka

  flight-ingestor-python:
    build: backend-python
    depends_on:
      - kafka

